<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>quick share</title>
</head>
<body>
	<nav>
	  <img class="logo" src="../logo.png">
	  <h1 class="heading">Quick share</h1>
	</nav>
	<section class="text">
	  <p class="mainText" >
	    Big transfers, bigger
	    <br>
	    <span>impact</span>
	  </p>
	  
	  <p class="subText">
	   
	    The simplest way to share files around the world , and discover something creative while doing it
	  </p>
	</section>
	
	<section>
	
	<div class="download_box">
 <div class="download_sec">
   <p class="expire">{{error}}</p>

</div>
	</div>

	  <script src="https://kit.fontawesome.com/ad8ca5eb9b.js" crossorigin="anonymous"></script>
	    <script src="js/index.js"></script>
</body>
</html>
